$nav-height: 4rem;
$nav-background: hsla(128, 0, 0, 1.0);
$link-color: hsla(128, 0, 40, 1.0);

nav {
  div {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  a {
    margin-left: 2rem;
    color: $link-color;
    text-decoration: none;
    transition: 1.8s;
  }
  a:hover{
    color: lighten($link-color, 50%);
    transition: 0.1s;
  }
  width: 100%;
  position:fixed;
  top: 0;
  height: $nav-height;
  z-index: 3;
  font-size: $nav-height * 0.75;
  background-color: $nav-background;
  padding: 1rem;
  .title {
    font-weight: bold;
    color: lighten($link-color, 100%);
    display: inline-block;
  }
  .right {
    position: absolute;
    right: 0px;
    padding-right: 2rem;
    display: inline-block;
  }
  .links {
    font-size: $nav-height * 0.5;
    display: none;
  }
  #hamburger {
    display: inline-block;
    #menu {
      position: fixed;
      top: 0px;
      right: 0px;
      margin: 0px;
      padding: 1rem;
      background-color: $nav-background;
      overflow: hidden;
      z-index: 2;
      transition: 0.2s;
      display: inline-block;
      &.hidden {
        top: -400px;
        transition: 2s;
      }
      a {
        display: block;
      }
    }
  }
}


.container {
  margin-top: $nav-height * 2;
}

/* Hide the burger, and switch to links across top for larger screens */
@media (min-width: 700px) {
  nav {
    .links {
      display: inline-block;
    }
    #hamburger {
      display: none;
    }
  }
}
